<div class="movie-card " >
    <div class="">
        <button class="nav-link"
            (click)="handleRedirectToDetails(movieData.id)"
        >
            <img [src]="'https://image.tmdb.org/t/p/w500/' + movieData.poster_path" alt="" class="img-fluid rounded" style="height: 250px;">
        </button>
        <!-- <div [ngClass]="movieData.vote_average * 10  > 70 ? 'active' : 'not-active' " class="rating rounded-circle d-flex justify-content-center align-items-center position-relative" >{{ movieData.vote_average * 10 | vote }} <span class="position-relative" style="top: -5px; left: 2px; font-size: 9px;">%</span></div> -->
        <app-circular-progress [progress]="movieData.vote_average * 10 | vote"></app-circular-progress>
      </div>
    @if(movieData.title.length >= 20){
      <div class="title fw-bold">{{ movieData.title | slice: 0:20 }}...</div>
      }@else{
      <div class="title fw-bold">{{ movieData.title }}</div>
    }
    <div class="d-flex justify-content-between align-items-center">
        <div class="created_at small" style="opacity: .5;">{{ movieData.release_date }}</div>
        <i
          class="fa fa-heart fs-5"
          [class.fa-regular]="!isInWatchlist()"
          [class.fa-solid]="isInWatchlist()"
          [style.color]="isInWatchlist() ? '#FFD43B' : ''"
          (click)="toggleWatchlist(movieData)">
        </i>
    </div>
</div>
