<nav class="  navbar    navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand n-brand" href="#">Movies App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/" routerLinkActive="active_link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Search" routerLinkActive="active_link">Search</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link position-relative" routerLink="/Watchlist" routerLinkActive="active_link">
              Watchlist
              @if(watchlistCount > 0){
                <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                  {{ watchlistCount }}
                </span>
                }
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lang
            </a>
            <ul class="dropdown-menu" >
              <li (click)="handleLang('en')"><a class="dropdown-item" >En</a></li>
              <li (click)="handleLang('ar')"><a class="dropdown-item" >Ar</a></li>
              <li (click)="handleLang('fr')"><a class="dropdown-item" >Fr</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
