.card {
  border: none;
  border-radius: 12px;
}

.card img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.fa-heart {
  cursor: pointer;
}

.text-warning {
  color: #ffc107 !important;
}
