<div class="container my-4">
  <h1>Watch list</h1>
  <div class="row">
    @if(watchlist.length === 0){
    <div class="empty-watchlist text-center">
      <img src="icon _heart_slash.svg" alt="Empty Watchlist" class="placeholder-image">
      <p class="mt-3">No Movies in watch list</p>
      <button routerLink="/" class="btn btn-warning px-4 rounded-pill">Back to home</button>
    </div>
    }
    @if(watchlist.length > 0){
    @for(movie of watchlist; track movie.id){
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="movie-card shadow-sm p-3 rounded" [routerLink]="['/moive-details', movie.id]">
        <div class="d-flex">
          <div class="col-md-4">
            <img
              [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
              alt="{{ movie.original_title }}"
              class="img-fluid rounded"
              style="width: 100px; height: 150px;"
            />
          </div>

          <div class="ms-3 pt-2">
            <div class="d-flex justify-content-between align-items-start">
              <h5 class="fw-bold mb-1">{{ movie.original_title }}</h5>
              <i
                class="fa fa-heart text-warning"
                style="font-size: 1.3rem;"
                (click)="removeFromWatchlist(movie.id)"
              ></i>
            </div>

            <span class="small mb-2" style="opacity: .5;">{{ movie.release_date }}</span>
            <div class="d-flex align-items-center mb-2">
              <span [innerHTML]="movie.vote_average | ratingStars:5" class="small"></span>
              <small class="ms-2">{{ movie.vote_average }}</small>
            </div>

            <p class="small">{{ movie.overview | slice: 0:100 }}...</p>
        </div>
      </div>
    </div>
  </div>
  }
}
  </div>
</div>

