<div class="search-container container">

    <div class="">
        <h6>Search Results for: {{ searchQuery }}</h6>

        <div class="row g-2 align-items-center">
            <div class="col-md-10">
                <input type="text" class="search-input" placeholder="Search and explore...." [(ngModel)]="searchQuery"
                    (keyup.enter)="updateSearch()">
            </div>
            <div class="col-md-2">
                <button class="search-button w-100" (click)="updateSearch()">Search</button>
            </div>
        </div>
    </div>

    @if (loading) {
    <div>Loading...</div>
    } @else if (error) {
    <div class="error-message">{{ error }}</div>
    } @else {
    @if (searchResults.length > 0) {
    <div class="row gy-5 container my-3">
        @for (movie of searchResults; track movie.id) {
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <app-movie-card [movieData]="movie"></app-movie-card>
        </div>
        }
    </div>
    } @else {
    <div>No results found.</div>
    }
    }

    @if (totalPages > 1) {
    <div class="pagination container d-flex justify-content-around align-items-center">
        <button class="search-button" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            Previous
        </button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="search-button" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>
    }
</div>